:root {
    --main-color: #749F82;
    --secondary-color: #e2e8f0;
    --hover-link: #a74f8a;
    --active-link: #881a63;
    --hover-button: #5e826a;
    --active-button: #425b4b;
  }



* {
    /* border: solid 1px red; */
    margin: 0;
}

.container {
    display: grid;
    grid-template: 1fr 1fr 5fr / 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar nav"
    "sidebar dashboard"
}

.header {
    grid-area: header;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;

}

.search {
    display: grid;
    grid-auto-flow: column;
    padding: 0 1rem;
    gap: 0.5rem;
}

.search > input[type="text"] {
    width: 25rem;
    border-radius: 15px;
    background-color: var(--secondary-color);
}

.left-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav {
    grid-area: nav;
    display: grid;
    padding: 0 1rem;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 5px rgb(178 178 178);
    margin-bottom: 5px;
}

.nav > .greeting {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 0.5rem;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    gap: 1.5rem;
    background-color: var(--main-color);
    color: white;
    padding: 1.5rem 1rem;
}

.sidebar-logo {
    font-size: 1.75rem;
    font-weight: bolder;
    align-self: center
    ;
}

.sidebar > .upper-links {
    display: grid;
}

.sidebar > .lower-links {
    display: grid;
}

.sidebar > .upper-links > a:link,
.sidebar > .lower-links > a:link,
.sidebar > .upper-links > a:visited,
.sidebar > .lower-links > a:visited {
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.sidebar > .upper-links > a:hover,
.sidebar > .lower-links > a:hover {
    color: var(--hover-link);
    text-decoration: none;
    font-weight: bold;
}

.sidebar > .upper-links > a:active,
.sidebar > .lower-links > a:active {
    color: var(--active-link);
    text-decoration: none;
    font-weight: bold;
}

.dashboard {
    grid-area: dashboard;
    background-color: var(--secondary-color);
    padding: 0.75rem;
    display: grid;
    gap: 0.5rem;
    grid-template: 1fr 1fr / 6fr 1fr ;
    grid-template-areas: 
    "projects announcements"
    "projects trending"
}

.projects {
    grid-area: projects;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
    gap: 5px;
}

.project-container > * {
    background-color: white;
}

.announcements {
    grid-area: announcements;
}

.announcement-container {
    display: grid;
    gap: 0.5rem;
}

.trending {
    grid-area: trending;
}

.trend-container {
    display: grid;
    gap: 0.5rem;
}

button {
    background-color: var(--main-color);
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 15px;
    font-weight: bold;
}

button:hover {
    background-color: var(--hover-button);
}

button:active {
    background-color: var(--active-button);
}